<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Create Trashure Item</title>
</head>
<body>
    <h1>Create New Item</h1>
    <div class="create-form-div">
        <form class="create-form" action="">
            <div>
                <label for="">Title </label>
                <input type="text" class="item-title" required>
            </div>
            <div>
                <label for="">Adrress Line</label>
                <input type="text" class="item-addres-line" required>
            </div>
            <div>
                <label for="">State</label>
                <input type="text" class="item-state" required>
            </div>
            <div>
                <label for="">Post Code</label>
                <input type="text" class="item-post-code" required>
            </div>
            <div>
                <label for="">Image URL</label>
                <input type="text" class="img-url" required>
            </div>
            <div>
                <label for="">Pickup Date: </label>
                <input type="date" class="pick-up-date" required>
            </div>
            <div>
                <label for="">Pickup time, from: </label>
                <input type="text" class="pick-up-time-from" required>
            </div>
            <div>
                <label for="">Pickup time, to: </label>
                <input type="text" class="pick-up-time-to" required>
            </div>
            <button class="create-item-btn">Create</button> 
        </form>
    </div>
    <script src=""></script>
</body>
</html>